html,
body {
  height: 100%;
  width: 100%;
  background-attachment: inherit;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #23415C;
}

.marquee {
  position: relative;
  background-color: #d41111;
  opacity: 0.75;
}


.nav-link {
  display: inline-block;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 16.66%;
}

.navbar {
  min-height: 80px;
  background-color: #23415C;
  font-size: 1.2em;
  padding: 1% 0;
  width: 100%;
  /* overflow: hidden; */
  
}

.nav nav-tags {
  position: fixed;
    top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar-brand {
  padding: 0 15px 5px;
  min-height: 55px;
  line-height: 80px;

}
.nav ul li{
  list-style-type: none;
  display: inline-block;
}
.nav ul li: hover{
  background-color: coral;
  color: #A9A9A9;
  font-weight: bold;
  font-size: 1.2rem;
}

.dropdown-toggle {
  
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: none;
  position: relative;
  min-width: 160px;
  z-index: 1;
}

.dropdown-item a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-item {display: block;}


@media (min-width: 768px) {
  .navbar-nav>li>a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    padding: 
  }
}

.padding {
  padding-top: 50px;
  padding-bottom: 50px;

}

ul {
  color: #808080;
  list-style-type: none;
  text-align: center;
}

#collapsibleNavbar {
  display: inline-block;
  color: #808080 !important;
}

video {
  max-width: 100%;
  height: auto;
}

#home{
    background: url(new.jpg) no-repeat center center fixed;
    display: table;
    height: 80%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.carousel-inner img {

  width: 80%;
  height: 1%;
  max-width: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 0px;
}


video {
  min-width: 100%;
  height: auto;
  padding:0 15%;
  padding-top: 160px;
  top: 50%;
  left: 50%;
}
i{
  padding-right: 8px;
}
.row {
  background-color: bisque;

}
#ri {
  background-color: bisque;
}
#yo{
  background-color: rgb(134, 103, 64);
  padding-block: inherit;
  
}
#da{
  background-color: bisque;
}